ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1;
  height: 55px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  z-index: 100;
  position: fixed;
  width: 100%;

  li, a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    cursor: default;

    &:not(:nth-child(1)):hover {
      color: black;
      border-bottom: 3px solid rgb(30,133,226);
    }

    &:hover {
      cursor: pointer;
    }

    &.infoNav {
      right: 20px;
      position: absolute;
    }
  }

  input[type="button"] {
    background-color: white;
    border: none;
  }
}
